@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");

#root {
	min-height: 100vh;
}

input[type="radio"]:checked + .radio-btn {
	background-color: #007bff;
	color: white;
}

.orbitron {
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.logo-dog {
	font-size: 80%;
	margin-bottom: 2px;
}

.max-width-75 {
	max-width: 75%;
}

.radio-btn {
	display: inline-block;
	cursor: pointer;
	margin-right: 0.5rem;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}

.radio-btn:hover {
	background-color: #e0e0e0;
}

.toggle-transform {
	transform: translate(2rem, 0px);
}

.transition-bg {
	transition-property: background-color;
}
